*.pdf
output/
.ipynb_checkpoints/
__pycache__/
data/data_IMLup/IMLup_continuum.fits
data/data_IMLup/IM_Lup_reducedRob_median_Hband_12.25mas_mod.fits
data/data_IMLup/IMLup.profile.txt
data/data/
data/data_bump/